*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(3, 92, 22);
}
.imgdec{
    margin-top: 16px;
    width: 90vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
#logo{
    margin-left: 3rem;
    width: 90px;
    object-fit: contain;
    position: absolute;
    top: 1rem;
}
h1{
    text-align: center;
    margin: 1rem;
}
h1, h2, h3, p, a, dl, table{
    font-family: cursive;
}
.imagetitl{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    text-align: center;
}
nav>a{
    margin: 1rem;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(14, 93, 129);
    box-shadow: 5px 5px 5px;
}
#click{
    color: black;
    background-color: rgb(161, 112, 38);
}
h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(146, 85, 15, 0.61);
    width: 90vw;
    border-radius: 1rem;
}
footer{
    margin-top: auto;
    padding: 5px;
}
.events>div{
    text-align: center;
}
p, h3{
    margin: 10px;
}
nav>a:hover{
    padding: 10px;
}
.parrf{
    text-align: justify;
    padding: 0 15rem;
}
.titl_h3list{
    text-align: center;
}
dt, span{
    font-weight: bold;
}
.titlelist{
    padding: 16px 0 16px 0;
}
.othertitl{
    margin-top: 16px;
}
dl{
    width: 80vw;
}
dd{
    text-align: justify;
    margin-left: 2rem;
}
.listprincp{
    margin-top: 16px;
}
caption{
    text-align: initial;
    padding-bottom: 10px;
}
.tble{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
ol.secondlist{
    margin-left: 15px;
    list-style-type: lower-latin;
}
.listpa{
    margin-left: 20px;
}
.email-phone{
    display: flex;
    justify-content: space-evenly;
}

th{
    padding: 10px;
}